body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
span{
   color: darkorange;
}
.half{
    width: 40%;
    float: left;
    margin-right: 2%;
    padding-left: 6%;
}
.half img{
    width: 100%;
    margin-top: 10px;
}
p{
    text-align: justify;
}
#first{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
   margin-top: -16px;
}

.button{
    color: white;
    font-weight:700;
    text-decoration: none;
    background-color: darkorange;
    background-image: linear-gradient(50deg,darkorange, tomato);
    padding: 10px 25px;
    border-radius: 5px;
    
}
#second{
   float: left;
    margin-top: 180px;
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
    float: left;
}
.half2{
    width:40%;
    margin-left: 6%;
    float: left;
}
#third{
    margin-top: 120px;
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.half3{
    float: left;
    width: 40%;
    margin-left: 6%;
    box-shadow: 10px 10px 40px gray;
    padding: 10px;
    height: 50%;
    background-color: white;
}
#border1{
  border-left: 5px solid;
  border-image: linear-gradient(tomato, purple);
  border-image-slice: 1;
}
#border2{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.last{
    margin-left: 6%;
}
footer p{
    text-align: center;
}